@font-face {
    font-family: a;
    src: url(./jost-variable.ttf);
}

@font-face {
    font-family: b;
    src: url(./KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}

@font-face {
    font-family: c;
    src: url(./KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    overflow: hidden;
    background-color: #1137ca;
}

#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

nav{
    position: absolute;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    padding-top: 1.5vw;
    z-index: 1;
}

#page1>nav>img{
    margin-top: -3.3vw;
    margin-left: -8vw;
    width: 13.5%;
}

#right-nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #0b48ed;
    border: 1px solid rgba(255, 255, 255, 0.473);
    color: white;
    font-family: a;
    font-size: 14px;
    transition: all ease 0.3s;
}

#right-nav>button:nth-child(1){
    margin-right: 1.1vw;
}

#right-nav>button:nth-child(1):hover{
    background-color: white;
    color:  #0b48ed;
    cursor: pointer;
}

#right-nav>button:nth-child(2):hover{
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}

#bottom-p1{
    position: absolute;
    bottom: 12%;
    left: 9%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45vh;
    width: 50vw;
    z-index: 1;
}

#bottom-p1>h1{
    font-family: a;
    font-size: 6.5vw;
    font-weight: 100;
    line-height: 1;
    color: white;
}

.bottom-p1-d{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: white;
    font-family: a;
    width: 75%;
}

.bottom-p1-d h4{
    font-size: 1.3vw;
    font-weight: 400;
    text-transform: capitalize;
    width: 60%;
}

.bottom-p1-d button{
    padding: 1.1vw 2.5vw;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    color: #0b48ed;
    font-size: 0.99vw;
    font-family: b;
    font-weight: 100;
    transition: all ease 0.4s;
}

.bottom-p1-d button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

#page2{
    height: 100vh;
    width: 100vw;
    background-color: #0A3CCE;
    position: relative;
    font-family: a;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0vw 9vw;
    color: white;
}


#page2 h2{
    font-weight: 100;
    font-size: 1.3vw;
    margin-bottom: 2vw;
}

#page2 h1{
    font-weight: 100;
    width: 98%;
    font-size: 3.8vw;
    color: #dadada69;
}

#page3{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: white;
}

#page3>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}

#page4{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #0E35C5;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-family: a;
}

#page4 h3{
    margin-left: 10vw;
    margin-bottom: 2vw;
    font-weight: 100;
    color: white;
}

#page4 h1{
    margin-left: 10vw;
    width: 75%;
    font-size: 3.5vw;
    font-weight: 100;
    color: #dadada69;
}

#page5{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page5>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}

#page6{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-family: a;
}

#page6 h3{
    margin-left: 10vw;
    margin-bottom: 2vw;
    font-weight: 100;
    color: white;
}

#page6 h1{
    margin-left: 10vw;
    width: 75%;
    font-size: 3.5vw;
    font-weight: 100;
    color: #dadada69;
}

#page7{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}

#page7 canvas{
    position: relative;
    max-height: 100vh;
    max-width: 100vw;
}

.p7circle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    z-index: 99;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
}

.p7circle-inner{
    height: 70%;
    width: 70%;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
}

#page8{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}

#page8 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page8-bottom{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: a;
    z-index: 9;
}

.page8-bottom h1{
    color: white;
    margin-bottom: 2vw;
    font-size: 5.5vw;
    font-weight: 100;
}

.page8-bottom button{
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    background-color: white;
    color: #0A3CCE;
    font-weight: 500;
    transition: all ease 0.3s;
}

.page8-bottom button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

#page9{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
    display: flex;
}

.p9-left{
    height: 100%;
    width: 40%;
    position: relative;
}

.p9-right{
    height: 100%;
    width: 60%;
    position: relative;
}

.p9-left h1{
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translateY(-60%);
    font-size: 6vw;
    font-weight: 100;
    color: white;
    font-family: a;
    line-height: 6vw;
}

.p9-r-pic{
    height: 65%;
    width: 85%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
    background-size: cover;
}

#page10{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #0a3cce;
}

.right10{
    height: 100%;
    width: 60%;
    position: relative;
    left: 40%;
}

.right10-inner{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    height: 33.3%;
    width: 100%;
    font-family: a;
    color: white;
}

.right10-inner h1{
    font-size: 1.8vw;
    font-weight: 500;
    margin-bottom: .7vw;
}

.right10-inner p{
    font-size: 1.5vw;
    width: 80%;
    color: rgba(255, 255, 255, 0.699);
}

#page11{
    position: relative;
    width: 100vw;
    height: 120vh;
    background-color: white;
    padding-bottom: 3vw;
}

#page11>h1{
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 4vw;
    color: black;
    font-weight: 100;
    font-family: a;
}

.page11-inner{
    display: flex;
    top: 18%;
    position: relative;
    margin-bottom: 2vw;
    height: 24%;
    width: 100%;
}

.left11{
    position: relative;
    height: 100%;
    width: 37%;
    left: 10.2%;
    border-radius: 10px;
    overflow: hidden;
}

.left11 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left11:hover img{
    cursor: pointer;
    scale: 1.05;
    transition: all ease 0.5s;
}

.right11{
    left: 51%;
    position: absolute;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-family: c;
}

.right11 h4{
    color: rgba(0, 0, 0, 0.507);
    font-size: 1vw;
    font-weight: 100;
    margin-bottom: 2vw;
}

.right11 h1{
    color: black;
    font-size: 1.6vw;
    font-weight: 100;
}

.right11:hover{
    cursor: pointer;
}

#page12{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #02268E;
}

.p12-txt{
    position: absolute;
    top: 20%;
    right: 17%;
    color: white;
    font-family: a;
}

.p12-txt h1{
    font-size: 6vw;
    font-weight: 100;
}

.p12-txt p{
    font-size: 1.3vw;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.741);
}

#page13{
    position: relative;
    width: 100vw;
    height: 50vh;
    background-color: #0F0F17;
    color: white;
    font-family: a;
    padding: 7vw 10vw;
}

#page13 h1{
    font-size: 5vw;
    line-height: 1;
    font-weight: 100;
}

#page13 button{
    padding: 1.3vw 3vw;
    border: none;
    background-color: #0a3cce;
    color: white;
    border-radius: 50px;
    font-weight: 500;
    margin-top: 2vw;
    transition: all ease 0.5s;
}

#page13 button:hover{
    cursor: pointer;
    color: #0a3cce;
    background-color: white;
    font-weight: 600;
}

#page14{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #0F0F17;
    color: white;
    padding: 7vw 10vw;
    display: flex;
    flex-direction: column;
}

#p14-upper{
    height: 60%;
    width: 100%;
}

.p14-inner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    width: 100%;
    height: 33.3%;
    font-family: a;
    border-top: 1px solid rgba(255, 255, 255, 0.212);
    border-bottom: 1px solid rgba(255, 255, 255, 0.212);
}

.p14-inner i{
    font-size: 2.4vw;
    font-weight: 100;
    z-index: 99;
}

.p14-inner h1{
    font-size: 2.4vw;
    font-weight: 100;
    z-index: 99;
}

.center14{
    height: 0%;
    width: 100%;
    position: absolute;
    background-color: #0a3cce;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all ease 0.5s;
}

.p14-inner:hover .center14{
    height: 100%;
    cursor: pointer;
}

#p14-bottom{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 6vw;
    height: 40%;
    width: 100%;
}

#p14-d-l{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

#p14-d-l a{
    font-size: 0.9vw;
    color: white;
    text-decoration: none;
    font-family: a;
    text-transform: uppercase;
    transition: all ease 0.3s;
    font-weight: 100;
}

#p14-d-l a:hover{
    text-decoration: underline;
}


#p14-d-r{
    display: flex;
    flex-direction: column;
    width: 30%;
}

#p14-d-r h2{
    font-family: a;
    font-weight: 100;
}

#p14-d-r #sub{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    padding: 1.5vw 0;
    margin-bottom: 1.5vw;
    transition: all ease 0.3s;
    font-family: a;
}

#p14-d-r #sub:hover{
    border-bottom: 1px solid #dadada;
    cursor: pointer;
}

#p14-d-r #sub h3{
    font-size: 1.1vw;
    font-weight: 100;
}

#p14-d-r #sub i{
    background-color: #333;
    padding: 0.5vw;
    border-radius: 50%;
}

#footer{
    position: absolute;
    bottom: 7%;
}

#footer h3{
    font-size: 1.1vw;
    font-family: a;
    font-weight: 100;
}

#moving-div{
    position: absolute;
    bottom: 15%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: 1.2vw;
}

#moving-div .move{
    display: inline-block;
    animation: doit 10s linear infinite;
}

#moving-div .move img{
    height: 4vw;
    margin: 0 4vw;
}

@keyframes doit{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@media (min-width: 950px) and (max-width: 1286px){
    #bottom-p1{
        bottom: 9%;
        justify-content: flex-start;
        gap: 3vw;
    }

    #page9{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .p9-left{
        height: 40%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .p9-right{
        height: 60%;
        width: 80%;
    }
    
    .p9-left h1{
        top: 40%;
        left: 10%;
        transform: translateY(-60%);
        font-size: 7vw;
    }
    
    .p9-r-pic{
        height: 85%;
        width: 75%;
        top:35%;
    }

    .right10{
        width: 80%;
        left: 10%;
    }
    
    .right10-inner{
        display: flex;
        align-items: flex-start;
        justify-content: start;
        flex-direction: column;
        height: 33.3%;
        width: 100%;
        font-family: a;
        color: white;
    }
    
    .right10-inner h1{
        font-size: 2.3vw;
        margin-bottom: .7vw;
    }
    
    .right10-inner p{
        font-size: 1.8vw;
        width: 80%;
    }

    #page12{
        height: 80vh;
    }

    .p12-txt{
        top: 20%;
        left: 10%;
    }
    
    .p12-txt h1{
        font-size: 8vw;
    }
    
    .p12-txt p{
        font-size: 2vw;
    }

    #page13{
        height: 55vh;
    }
    
    #page13 h1{
        font-size: 8vw;
    }
    
    #page13 button{
        margin-top: 3vw;
    }

    #p14-bottom{
        height: 40%;
    }
    
    #p14-d-l a{
        font-size: 1.5vw;
    }
    
    #p14-d-l a:hover{
        text-decoration: underline;
    }
    
    #p14-d-r #sub h3{
        font-size: 1.4vw;
        font-weight: 100;
    }
} 


@media (min-width: 680px) and (max-width: 950px){
    #bottom-p1{
        top: 25%;
        justify-content: flex-start;
        gap: 3vw;
        width: 60%;
    }

    #bottom-p1>h1{
        font-size: 8.3vw;
    }

    .bottom-p1-d {
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 35%;
    }
    
    .bottom-p1-d h4{
        font-size: 2.7vw;
        font-weight: 400;
        text-transform: capitalize;
        width: 90%;
    }

    #page2 h2{
        font-size: 2.9vw;
        margin-bottom: 3.9vw;
    }
    
    #page2 h1{
        width: 98%;
        font-size: 6.5vw;
    }

    
    #page4 h3{
        margin-bottom: 3.9vw;
    }
    
    #page4 h1{
        width: 85%;
        font-size: 5.8vw;
    }
    
    #page6 h3{
        font-size: 2.9vw;
        margin-bottom: 3.9vw;
    }
    
    #page6 h1{
        width: 85%;
        font-size: 6.5vw;
    }

    #page9{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .p9-left{
        height: 40%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .p9-right{
        height: 60%;
        width: 80%;
    }
    
    .p9-left h1{
        top: 40%;
        left: 10%;
        transform: translateY(-60%);
        font-size: 7.5vw;
        line-height: 7.5vw;
    }
    
    .p9-r-pic{
        height: 85%;
        width: 95%;
        top:35%;
    }

    .right10{
        width: 80%;
        left: 10%;
    }
    
    .right10-inner h1{
        font-size: 2.8vw;
        margin-bottom: .7vw;
    }
    
    .right10-inner p{
        font-size: 2vw;
        width: 80%;
    }

    #page11>h1{
        font-size: 7.5vw;
    }
    
    #page12{
        height: 60vh;
    }

    .p12-txt{
        top: 20%;
        left: 10%;
    }
    
    .p12-txt h1{
        font-size: 8vw;
    }
    
    .p12-txt p{
        font-size: 2vw;
    }

    #page13{
        height: 41vh;
    }
    
    #page13 h1{
        font-size: 9vw;
    }
    
    #page13 button{
        margin-top: 4vw;
    }

    #p14-bottom{
        justify-content: space-around;
        flex-direction: column;
        margin-top: 6vw;
        height: 50%;
    }
    
    #p14-d-l{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        width: 100%;
    }

    #p14-d-l a{
        font-size: 2vw;
    }

    #p14-d-r{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    #p14-d-r h2{
        font-family: a;
        font-weight: 100;
    }
    
    #p14-d-r #sub{
        padding: 1.5vw 0;
        margin-bottom: 1.5vw;
    }
    
    #p14-d-r #sub h3{
        font-size: 1.9vw;
    }
    
    #footer{
        bottom: 5%;
    }
    
    #footer h3{
        font-size: 1.5vw;
    }
    
}

/*  */

@media (max-width: 679px){
    #page1>nav>img{
        margin-top: -8.5vw;
        margin-left: -18vw;
        width: 34%;
    }

    #bottom-p1{
        top: 25%;
        justify-content: flex-start;
        /* gap: 5vw; */
        width: 90%;
    }

    #bottom-p1>h1{
        font-size: 11.3vw;
    }

    .bottom-p1-d {
        width: 95%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        height: 55%;
    }
    
    .bottom-p1-d h4{
        font-size: 4.7vw;
        font-weight: 400;
        text-transform: capitalize;
        width: 90%;
    }

    .bottom-p1-d button{
        padding: 4vw 7vw;
        font-size: 3vw;
    }

    #page2 h2{
        font-size: 3.3vw;
        margin-bottom: 3.9vw;
    }
    
    #page2 h1{
        width: 98%;
        font-size: 7.6vw;
    }

    
    #page4 h3{
        margin-left: 5vw;
        margin-bottom: 7.9vw;
        font-size: 4vw;
    }
    
    #page4 h1{
        margin-left: 5vw;
        width: 90%;
        font-size: 7.8vw;
    }
    
    #page6 h3{
        margin-left: 5vw;
        margin-bottom: 7.9vw;
        font-size: 4vw;
    }
    
    #page6 h1{
        margin-left: 5vw;
        width: 90%;
        font-size: 7.8vw;
    }

    .p7circle{
        height: 60vw;
        width: 60vw;
    }
    
    .p7circle-inner{
        height: 70%;
        width: 70%;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 50%;
    }

    .page8-bottom{
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    
    .page8-bottom h1{
        margin-bottom: 2vw;
        font-size: 13.5vw;
    }

    #page9{
        height: 65vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .p9-left{
        height: 40%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .p9-right{
        height: 60%;
        width: 85%;
    }
    
    .p9-left h1{
        top: 50%;
        left: 7%;
        transform: translateY(-60%);
        font-size: 15.5vw;
        line-height: 15.5vw;
    }
    
    .p9-r-pic{
        height: 80%;
        width: 100%;
        top:35%;
    }

    #page10{
       height: 110vh;
    }

    .right10{
        width: 90%;
        left: 7%;
        display: flex;
        flex-direction: column;
        gap: 6vw;
    }
    
    .right10-inner{
        margin-bottom: 3vw;
        height: auto;
        position: relative;
    }

    .right10-inner h1{
        font-size: 6vw;
        margin-bottom: 1.3vw;
    }
    
    .right10-inner p{
        font-size: 5vw;
        width: 95%;
    }

    #page11{
        height: 160vh;
    }

    #page11>h1{
        font-size: 12.5vw;
        left: 7%;
        top: 8%;
    }
    
    .page11-inner{
        display: flex;
        flex-direction: column;
        top: 18%;
        position: relative;
        margin-bottom: 2vw;
        height: auto;
        width: 100%;
    }
    
    .left11{
        width: 85%;
        left: 7%;
    }
    
    .right11{
        position: relative;
        left: 7%;
        height: 100%;
        width: 80%;
        margin-bottom: 5vw;
    }
    
    .right11 h4{
        font-size: 4.5vw;
        margin-bottom: 2vw;
        margin-top: 2vw;
    }
    
    .right11 h1{
        font-size: 5.5vw;
    }
    
    #page12{
        height: 60vh;
    }

    .p12-txt{
        top: 22%;
        left: 7%;
    }
    
    .p12-txt h1{
        font-size: 15vw;
    }
    
    .p12-txt p{
        font-size: 3.1vw;
    }

    #page13{
        height: 41vh;
        padding: 7vw 7vw;
        padding-top: 25vw;
    }
    
    #page13 h1{
        font-size: 14vw;
    }
    
    #page13 button{
        margin-top: 4vw;
        padding: 4vw 6vw;
        margin-top: 6vw;
    }

    #page14{
        height: 85vh;
        padding: 7vw 7vw;
    }

    #p14-upper{
        height: 30%;
    }

    #p14-upper h1{
        font-size: 4vw;
    }

    #p14-upper i{
        font-size: 4vw;
    }

    #p14-bottom{
        justify-content: space-around;
        flex-direction: column;
        /* margin-top: 6vw; */
        height: 65%;
    }
    
    #p14-d-l{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 25px;
        width: 100%;
    }

    #p14-d-l a{
        font-size: 4vw;
    }

    #p14-d-r{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    #p14-d-r h2{
        font-family: a;
        font-weight: 100;
    }
    
    #p14-d-r #sub{
        padding: 3vw 0;
        margin-bottom: 1.5vw;
    }
    
    #p14-d-r #sub h3{
        font-size: 3.5vw;
    }
    
    #footer{
        bottom: 5%;
    }
    
    #footer h3{
        font-size: 3vw;
    }

    #moving-div{
        bottom: 18%;
        padding: 1.2vw;
    }
    
    #moving-div .move img{
        height: 9vw;
        margin: 0 4vw;
    }
    
}